.DS_Store
/.build
/Packages
/*.xcodeproj
*xcuserdata/

.swiftpm/
releases/
DerivedData/

# Documentation temporary directory
docs_temp/

# protodep up should be used to fetch these as needed
/managed_proto

/.idea

.env