version: "3.8"
services:

  redis:
    image: redis
    ports:
      - "6379:6379"

  postgresql:
    image: postgres
    container_name: pg-xcmetrics
    ports:
      - "5432:5432"
    environment:
      # default values for development purposes only
      - POSTGRES_USER=xcmetrics-dev
      - POSTGRES_PASSWORD=xcmetrics-dev
      - POSTGRES_DB=xcmetrics-dev
      - PGDATA=/data/postgres
    volumes:
       - postgres:/data/postgres
    restart: unless-stopped

volumes:
  postgres:
